<%= turbo_frame_tag "edit_list" do  %>
  <dialog data-controller="dialog" data-dialog-target="dialog" class="dialog rounded-3xl">
    <section data-action="click@window->dialog#outsideClick" data-dialog-target="modalBox" class="bg-transparent">
      <%= render partial: "lists/form", locals: { list: @list } %>
    </section>
  </dialog>
<% end %>
