<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @invited.username %>!</h3>

    <p><%= @inviter.username %> (<%= @inviter.email %>) has sent you a frienship request. You can view this on your your page by going to www.our-basket.com.</p>

    <p>You can also directly accept the request by clicking here: www.our-basket.com</p>

    <p>Thank you</p>

    <p>- The Our Basket Team</p>
  </body>
</html>
