<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @name %>!</h3>

    <p>You have been invited to join Our Basket by your friend <%= @inviter.username %> (<%= @inviter.email %>).</p>

    <p>To start an account and connect with your friend, please visit www.our-basket.com</p>

    <p>Thank you and welcome!</p>

    <p>- The Our Basket Team</p>
  </body>
</html>
