<%= turbo_frame_tag "friendship_modal" do  %>
  <dialog data-controller="dialog" data-dialog-target="dialog" class="dialog rounded-3xl bg-transparent">
    <section data-action="click@window->dialog#outsideClick" data-dialog-target="modalBox" class="bg-transparent">
      <%= render partial: "friendships/form", locals: { friendship: @friendship, shared_list: @friendship.shared_lists.new } %>
    </section>
  </dialog>
<% end %>
