<%= turbo_frame_tag "edit_item" do  %>
  <dialog data-controller="dialog" data-dialog-target="dialog" class="dialog rounded-3xl bg-transparent">
    <section data-action="click@window->dialog#outsideClick" data-dialog-target="modalBox" class="bg-transparent">
      <%= render partial: "items/form", locals: { item: @item, list: @list } %>
    </section>
  </dialog>
<% end %>
