<nav class="w-full h-8 flex justify-between mt-1">
  <b><%= link_to "Our Basket", root_path, class: "text-left ml-3 btn" %></b>
  <div>
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "m-0 btn btn-warning" %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "m-0 btn btn-primary", data: { turbo_frame: "account" } %>
      <%= link_to "Sign In", new_user_session_path, class: "m-0 btn btn-primary", data: { turbo_frame: "account" } %>
    <% end %>
  </div>
</nav>
